
@{
    ViewData["Title"] = "Report";
}

@section Report {
    <link rel="stylesheet" href="~/css/report.css" asp-append-version="true" />
}

<section class="section-one">
    <svg xmlns="http://www.w3.org/2000/svg" width="676" height="483" viewBox="0 0 676 483" fill="none">
        <g clip-path="url(#clip0_51_879)">
            <path d="M523.811 147.825C525.236 132.177 525.236 113.699 522.385 98.0629C520.123 85.5517 512.918 69.6211 509.604 63.9373L478.363 76.7655L476.938 79.6074L425.812 106.623L383.204 63.9713L371.825 73.8896C382.718 89.0503 406.199 121.376 413.02 129.369C421.537 139.321 420.123 136.48 425.801 136.48C430.326 136.48 448.525 129.369 459.881 125.157V174.919H520.96C521.447 171.047 522.68 160.336 523.811 147.825Z" fill="white" />
            <path d="M625.395 482.921C624.871 436.859 606.224 392.862 573.5 360.475C540.775 328.088 496.613 309.924 450.595 309.924C404.577 309.924 360.414 328.088 327.69 360.475C294.966 392.862 276.319 436.859 275.795 482.921H625.395Z" fill="#D0D1D0" />
            <path d="M487.198 54.4831C487.198 54.4831 470.831 62.6579 467.913 60.1443C464.994 57.6308 462.257 45.0743 462.257 45.0743C462.257 45.0743 458.863 42.8098 457.37 41.5757C455.877 40.3415 459.52 36.7863 460.278 31.4535C461.035 26.1207 460.798 18.9196 463.116 16.0098" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M508.213 64.1637C504.311 59.2498 496.562 41.5757 496.562 41.5757" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M477.131 58.6497C477.131 58.6497 482.47 64.4581 482.379 74.8067" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M454.757 218.748L440.053 290.916C438.455 298.786 437.772 306.814 438.017 314.841L442.915 475.618L458.513 475.493L485.116 276.707C485.116 276.707 489.346 320.932 497.174 337.236C505.001 353.54 550.539 471.802 550.539 471.802L566.736 464.329L532.996 317.49L522.499 217.785C508.389 219.099 494.206 219.444 480.049 218.816C459.723 217.616 454.757 218.748 454.757 218.748Z" fill="black" />
            <path d="M676 482.264H184.357" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M482.141 116.507C482.141 116.507 440.551 135.902 430.461 134.974C420.372 134.045 371.78 73.833 371.78 73.833L382.707 64.7751L425.903 107.336C425.903 107.336 452.778 91.9261 474.541 81.5209C479.404 79.2564 486.496 76.6862 486.496 76.6862" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M460.367 125.236L459.621 203.27C459.621 203.27 478.465 208.388 515.384 199.805C515.384 199.805 524.331 165.612 524.908 129.72C525.326 102.965 523.437 89.4805 509.072 64.2204L478.963 76.6749L477.492 80.1962" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M432.905 481.856C435.167 479.932 439.827 475.629 446.093 475.459C450.237 475.221 454.392 475.221 458.536 475.459L457.71 482.253C457.71 482.253 432.622 482.106 432.905 481.856Z" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M545.302 482.264C544.963 482.468 546.659 476.286 554.487 470.942C558.445 468.523 562.534 466.327 566.736 464.363L569.541 470.625L545.302 482.264Z" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M371.475 56.8382L379.019 67.7869" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M371.826 73.8104C371.667 73.9463 361.058 59.2951 361.058 59.2951L362.11 47.6558C362.132 47.4778 362.202 47.3093 362.313 47.1689C362.428 47.032 362.582 46.9333 362.754 46.8858C362.928 46.8352 363.113 46.8352 363.286 46.8858C363.457 46.9421 363.607 47.0487 363.716 47.1915L367.98 51.7205" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M382.39 64.6619L379.121 66.5528L371.452 57.1326L371.995 51.1657C372.033 50.7113 371.899 50.2592 371.622 49.8976C371.472 49.7272 371.297 49.582 371.102 49.4674C370.9 49.3642 370.682 49.2989 370.457 49.2749C370.232 49.2614 370.006 49.2882 369.79 49.3541C369.574 49.4226 369.373 49.5343 369.202 49.6825C369.029 49.8266 368.887 50.0037 368.783 50.2033C368.683 50.4047 368.626 50.6242 368.613 50.8487L368.376 53.3622L359.587 42.5381C359.28 42.1598 359.134 41.6759 359.18 41.1907C359.226 40.7021 359.462 40.2511 359.836 39.9339L360.718 39.198C360.902 39.0458 361.113 38.9305 361.34 38.8583C361.567 38.7905 361.806 38.7674 362.042 38.7904C362.283 38.8036 362.518 38.8693 362.732 38.9829C362.939 39.0985 363.123 39.2521 363.274 39.4358L382.73 62.8164C382.845 62.9538 382.927 63.1168 382.967 63.2919C383.007 63.4671 383.007 63.6489 382.967 63.8241C382.933 63.9985 382.863 64.1641 382.763 64.3109C382.661 64.4576 382.525 64.5779 382.367 64.6619H382.39Z" fill="black" />
            <path d="M460.051 143.013L482.163 117.05L459.44 125.644L460.051 143.013Z" fill="black" />
            <path d="M482.401 74.7728C482.616 74.7728 505.736 58.8083 505.736 58.8083L509.13 64.2656L482.401 74.7728Z" fill="black" />
            <path d="M452.959 203.576C452.656 203.578 452.36 203.49 452.107 203.324C451.855 203.157 451.657 202.919 451.54 202.64C451.423 202.361 451.391 202.053 451.448 201.756C451.506 201.459 451.651 201.185 451.864 200.971C452.077 200.756 452.349 200.609 452.646 200.549C452.942 200.489 453.25 200.519 453.529 200.634C453.809 200.749 454.048 200.945 454.216 201.197C454.385 201.449 454.474 201.745 454.474 202.047C454.476 202.248 454.438 202.446 454.362 202.631C454.287 202.817 454.176 202.985 454.035 203.127C453.894 203.27 453.726 203.382 453.542 203.459C453.357 203.536 453.159 203.576 452.959 203.576Z" fill="white" />
            <path d="M503.305 203.576C503.003 203.576 502.707 203.486 502.456 203.318C502.205 203.15 502.009 202.912 501.893 202.632C501.778 202.353 501.748 202.046 501.807 201.749C501.866 201.453 502.011 201.18 502.225 200.966C502.438 200.753 502.71 200.607 503.006 200.548C503.303 200.489 503.61 200.519 503.889 200.635C504.168 200.751 504.406 200.947 504.574 201.198C504.741 201.449 504.831 201.745 504.831 202.047C504.831 202.453 504.671 202.841 504.384 203.128C504.098 203.415 503.71 203.576 503.305 203.576Z" fill="white" />
            <path d="M477.979 79.5735C486.768 66.2584 502.422 74.1614 508.812 97.5986C515.203 121.036 520.35 174.76 520.35 174.76H524.071C524.071 174.76 518.359 119.587 511.968 96.1494C505.578 72.7121 487.163 65.7715 478.295 79.0866" fill="black" />
            <path d="M528.008 258.104H460.515C457.252 258.101 454.124 256.802 451.817 254.492C450.675 253.35 449.771 251.991 449.159 250.496C448.536 249.004 448.221 247.402 448.231 245.786L450.98 187.079C450.98 180.286 453.717 174.76 460.515 174.76H528.008C534.794 174.76 537.543 180.274 537.543 187.079L540.291 245.786C540.293 247.402 539.976 249.002 539.36 250.496C538.743 251.99 537.839 253.348 536.698 254.491C535.557 255.635 534.203 256.543 532.712 257.163C531.221 257.783 529.622 258.103 528.008 258.104Z" fill="#35A6B4" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M538.425 196.624L450.516 197.031L538.142 199.771L538.425 196.624Z" fill="black" />
            <path d="M467.177 192.31V204.833C467.179 205.219 467.334 205.589 467.607 205.863C467.74 206.001 467.9 206.11 468.077 206.184C468.254 206.258 468.444 206.295 468.636 206.293H470.989C471.18 206.295 471.371 206.258 471.548 206.184C471.725 206.11 471.885 206.001 472.018 205.863C472.291 205.589 472.445 205.219 472.448 204.833V192.378C472.445 191.991 472.291 191.621 472.018 191.348C471.885 191.21 471.725 191.101 471.548 191.027C471.371 190.953 471.18 190.916 470.989 190.917H468.591C468.222 190.931 467.872 191.08 467.607 191.336C467.346 191.595 467.193 191.943 467.177 192.31Z" fill="black" />
            <path d="M517.737 192.31V204.833C517.74 205.219 517.895 205.589 518.168 205.862C518.441 206.135 518.81 206.29 519.196 206.293H521.571C521.763 206.295 521.954 206.258 522.131 206.185C522.309 206.112 522.471 206.005 522.606 205.869C522.742 205.733 522.849 205.571 522.922 205.393C522.995 205.215 523.032 205.025 523.031 204.833V192.378C523.032 192.186 522.995 191.995 522.922 191.817C522.849 191.639 522.742 191.478 522.606 191.342C522.471 191.206 522.309 191.098 522.131 191.025C521.954 190.953 521.763 190.916 521.571 190.917H519.184C518.808 190.917 518.447 191.064 518.176 191.326C517.906 191.588 517.749 191.945 517.737 192.321V192.31Z" fill="black" />
            <path d="M470.061 204.708C469.759 204.708 469.463 204.618 469.212 204.45C468.96 204.281 468.765 204.042 468.649 203.762C468.534 203.482 468.504 203.174 468.564 202.877C468.624 202.58 468.77 202.308 468.985 202.095C469.2 201.881 469.473 201.737 469.77 201.679C470.067 201.621 470.374 201.653 470.653 201.771C470.932 201.888 471.17 202.086 471.336 202.339C471.503 202.591 471.59 202.888 471.588 203.191C471.585 203.594 471.423 203.98 471.137 204.264C470.851 204.549 470.464 204.708 470.061 204.708Z" fill="white" />
            <path d="M520.406 204.708C520.103 204.708 519.808 204.618 519.556 204.45C519.305 204.281 519.109 204.042 518.994 203.762C518.879 203.482 518.849 203.174 518.909 202.877C518.969 202.58 519.116 202.308 519.33 202.095C519.545 201.881 519.818 201.737 520.115 201.679C520.412 201.621 520.72 201.653 520.998 201.771C521.277 201.888 521.515 202.086 521.681 202.339C521.847 202.591 521.935 202.888 521.933 203.191C521.93 203.594 521.768 203.98 521.482 204.264C521.196 204.549 520.809 204.708 520.406 204.708Z" fill="white" />
            <path d="M466.374 173.843C466.374 157.347 465.481 140.827 464.994 124.342C464.994 122.157 469.236 122.802 469.304 124.67C469.767 141.167 470.65 157.686 470.672 174.183C470.672 176.402 466.385 175.712 466.374 173.843Z" fill="black" />
            <path d="M240.709 482.921V432.706H139.544V380.771H0.735352V331.518" stroke="black" stroke-width="1.29" stroke-miterlimit="10" />
            <path d="M499.323 51.8563C499.323 50.9166 507.24 14.3454 499.458 7.52937C491.676 0.713316 469.575 4.50628 458.615 0.39627C449.849 -2.89853 461.454 17.0401 461.454 17.0401C461.454 17.0401 468.037 22.4522 474.145 23.8335C480.252 25.2149 479.8 32.2913 479.8 32.2913L482.141 32.5291C482.141 32.5291 484.019 29.0078 486.847 29.2343C489.674 29.4607 499.323 51.8563 499.323 51.8563Z" fill="black" />
        </g>
        <defs>
            <clipPath id="clip0_51_879">
                <rect width="676" height="483" fill="white" />
            </clipPath>
        </defs>
    </svg>
</section>
<section class="section-two">
    <div class="section__container">
        <ul>
            <li>
                <p class="paragraph-bold">
                    Annual Reports for 2020
                </p>
            </li>
            <li class="icons-container">
                <p>Download the 2020 Trust ST report</p>
                <input type="file" name="upload" id="upload">
                <label for="upload">
                    <svg id="upload1" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                        <g clip-path="url(#clip0_51_910)">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.65625 21.875C7.36617 21.875 7.08797 21.7598 6.88285 21.5546C6.67773 21.3495 6.5625 21.0713 6.5625 20.7812V3.28125C6.5625 2.99117 6.67773 2.71297 6.88285 2.50785C7.08797 2.30273 7.36617 2.1875 7.65625 2.1875H27.3438C27.6338 2.1875 27.912 2.30273 28.1171 2.50785C28.3223 2.71297 28.4375 2.99117 28.4375 3.28125V20.7812C28.4375 21.0713 28.3223 21.3495 28.1171 21.5546C27.912 21.7598 27.6338 21.875 27.3438 21.875H22.9688C22.6787 21.875 22.4005 21.9902 22.1954 22.1954C21.9902 22.4005 21.875 22.6787 21.875 22.9688C21.875 23.2588 21.9902 23.537 22.1954 23.7421C22.4005 23.9473 22.6787 24.0625 22.9688 24.0625H27.3438C28.214 24.0625 29.0486 23.7168 29.6639 23.1014C30.2793 22.4861 30.625 21.6515 30.625 20.7812V3.28125C30.625 2.41101 30.2793 1.57641 29.6639 0.961056C29.0486 0.345702 28.214 0 27.3438 0L7.65625 0C6.78601 0 5.95141 0.345702 5.33606 0.961056C4.7207 1.57641 4.375 2.41101 4.375 3.28125V20.7812C4.375 21.6515 4.7207 22.4861 5.33606 23.1014C5.95141 23.7168 6.78601 24.0625 7.65625 24.0625H12.0312C12.3213 24.0625 12.5995 23.9473 12.8046 23.7421C13.0098 23.537 13.125 23.2588 13.125 22.9688C13.125 22.6787 13.0098 22.4005 12.8046 22.1954C12.5995 21.9902 12.3213 21.875 12.0312 21.875H7.65625Z" fill="#35A6B4" />
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7255 34.6806C16.8271 34.7825 16.9478 34.8633 17.0807 34.9184C17.2136 34.9736 17.356 35.002 17.4999 35.002C17.6438 35.002 17.7862 34.9736 17.9191 34.9184C18.052 34.8633 18.1727 34.7825 18.2743 34.6806L24.8368 28.1181C25.0422 27.9127 25.1575 27.6342 25.1575 27.3438C25.1575 27.0533 25.0422 26.7748 24.8368 26.5694C24.6314 26.364 24.3529 26.2486 24.0624 26.2486C23.772 26.2486 23.4934 26.364 23.288 26.5694L18.5937 31.2659V12.0312C18.5937 11.7412 18.4784 11.463 18.2733 11.2579C18.0682 11.0527 17.79 10.9375 17.4999 10.9375C17.2098 10.9375 16.9316 11.0527 16.7265 11.2579C16.5214 11.463 16.4062 11.7412 16.4062 12.0312V31.2659L11.7118 26.5694C11.5064 26.364 11.2279 26.2486 10.9374 26.2486C10.647 26.2486 10.3684 26.364 10.163 26.5694C9.95766 26.7748 9.84229 27.0533 9.84229 27.3438C9.84229 27.6342 9.95766 27.9127 10.163 28.1181L16.7255 34.6806Z" fill="#35A6B4" />
                        </g>
                        <defs>
                            <clipPath id="clip0_51_910">
                                <rect width="35" height="35" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </label>

            </li>
            <li class="icons-container">
                <p>Download the 2020 Trust SS report</p>
                <svg id="upload2" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                    <g clip-path="url(#clip0_51_910)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.65625 21.875C7.36617 21.875 7.08797 21.7598 6.88285 21.5546C6.67773 21.3495 6.5625 21.0713 6.5625 20.7812V3.28125C6.5625 2.99117 6.67773 2.71297 6.88285 2.50785C7.08797 2.30273 7.36617 2.1875 7.65625 2.1875H27.3438C27.6338 2.1875 27.912 2.30273 28.1171 2.50785C28.3223 2.71297 28.4375 2.99117 28.4375 3.28125V20.7812C28.4375 21.0713 28.3223 21.3495 28.1171 21.5546C27.912 21.7598 27.6338 21.875 27.3438 21.875H22.9688C22.6787 21.875 22.4005 21.9902 22.1954 22.1954C21.9902 22.4005 21.875 22.6787 21.875 22.9688C21.875 23.2588 21.9902 23.537 22.1954 23.7421C22.4005 23.9473 22.6787 24.0625 22.9688 24.0625H27.3438C28.214 24.0625 29.0486 23.7168 29.6639 23.1014C30.2793 22.4861 30.625 21.6515 30.625 20.7812V3.28125C30.625 2.41101 30.2793 1.57641 29.6639 0.961056C29.0486 0.345702 28.214 0 27.3438 0L7.65625 0C6.78601 0 5.95141 0.345702 5.33606 0.961056C4.7207 1.57641 4.375 2.41101 4.375 3.28125V20.7812C4.375 21.6515 4.7207 22.4861 5.33606 23.1014C5.95141 23.7168 6.78601 24.0625 7.65625 24.0625H12.0312C12.3213 24.0625 12.5995 23.9473 12.8046 23.7421C13.0098 23.537 13.125 23.2588 13.125 22.9688C13.125 22.6787 13.0098 22.4005 12.8046 22.1954C12.5995 21.9902 12.3213 21.875 12.0312 21.875H7.65625Z" fill="#35A6B4" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7255 34.6806C16.8271 34.7825 16.9478 34.8633 17.0807 34.9184C17.2136 34.9736 17.356 35.002 17.4999 35.002C17.6438 35.002 17.7862 34.9736 17.9191 34.9184C18.052 34.8633 18.1727 34.7825 18.2743 34.6806L24.8368 28.1181C25.0422 27.9127 25.1575 27.6342 25.1575 27.3438C25.1575 27.0533 25.0422 26.7748 24.8368 26.5694C24.6314 26.364 24.3529 26.2486 24.0624 26.2486C23.772 26.2486 23.4934 26.364 23.288 26.5694L18.5937 31.2659V12.0312C18.5937 11.7412 18.4784 11.463 18.2733 11.2579C18.0682 11.0527 17.79 10.9375 17.4999 10.9375C17.2098 10.9375 16.9316 11.0527 16.7265 11.2579C16.5214 11.463 16.4062 11.7412 16.4062 12.0312V31.2659L11.7118 26.5694C11.5064 26.364 11.2279 26.2486 10.9374 26.2486C10.647 26.2486 10.3684 26.364 10.163 26.5694C9.95766 26.7748 9.84229 27.0533 9.84229 27.3438C9.84229 27.6342 9.95766 27.9127 10.163 28.1181L16.7255 34.6806Z" fill="#35A6B4" />
                    </g>
                    <defs>
                        <clipPath id="clip0_51_910">
                            <rect width="35" height="35" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </li>
            <li class="icons-container">
                <p>Download the 2020 Fortune KT report</p>
                <svg id="upload3" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 35 35" fill="none">
                    <g clip-path="url(#clip0_51_910)">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.65625 21.875C7.36617 21.875 7.08797 21.7598 6.88285 21.5546C6.67773 21.3495 6.5625 21.0713 6.5625 20.7812V3.28125C6.5625 2.99117 6.67773 2.71297 6.88285 2.50785C7.08797 2.30273 7.36617 2.1875 7.65625 2.1875H27.3438C27.6338 2.1875 27.912 2.30273 28.1171 2.50785C28.3223 2.71297 28.4375 2.99117 28.4375 3.28125V20.7812C28.4375 21.0713 28.3223 21.3495 28.1171 21.5546C27.912 21.7598 27.6338 21.875 27.3438 21.875H22.9688C22.6787 21.875 22.4005 21.9902 22.1954 22.1954C21.9902 22.4005 21.875 22.6787 21.875 22.9688C21.875 23.2588 21.9902 23.537 22.1954 23.7421C22.4005 23.9473 22.6787 24.0625 22.9688 24.0625H27.3438C28.214 24.0625 29.0486 23.7168 29.6639 23.1014C30.2793 22.4861 30.625 21.6515 30.625 20.7812V3.28125C30.625 2.41101 30.2793 1.57641 29.6639 0.961056C29.0486 0.345702 28.214 0 27.3438 0L7.65625 0C6.78601 0 5.95141 0.345702 5.33606 0.961056C4.7207 1.57641 4.375 2.41101 4.375 3.28125V20.7812C4.375 21.6515 4.7207 22.4861 5.33606 23.1014C5.95141 23.7168 6.78601 24.0625 7.65625 24.0625H12.0312C12.3213 24.0625 12.5995 23.9473 12.8046 23.7421C13.0098 23.537 13.125 23.2588 13.125 22.9688C13.125 22.6787 13.0098 22.4005 12.8046 22.1954C12.5995 21.9902 12.3213 21.875 12.0312 21.875H7.65625Z" fill="#35A6B4" />
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M16.7255 34.6806C16.8271 34.7825 16.9478 34.8633 17.0807 34.9184C17.2136 34.9736 17.356 35.002 17.4999 35.002C17.6438 35.002 17.7862 34.9736 17.9191 34.9184C18.052 34.8633 18.1727 34.7825 18.2743 34.6806L24.8368 28.1181C25.0422 27.9127 25.1575 27.6342 25.1575 27.3438C25.1575 27.0533 25.0422 26.7748 24.8368 26.5694C24.6314 26.364 24.3529 26.2486 24.0624 26.2486C23.772 26.2486 23.4934 26.364 23.288 26.5694L18.5937 31.2659V12.0312C18.5937 11.7412 18.4784 11.463 18.2733 11.2579C18.0682 11.0527 17.79 10.9375 17.4999 10.9375C17.2098 10.9375 16.9316 11.0527 16.7265 11.2579C16.5214 11.463 16.4062 11.7412 16.4062 12.0312V31.2659L11.7118 26.5694C11.5064 26.364 11.2279 26.2486 10.9374 26.2486C10.647 26.2486 10.3684 26.364 10.163 26.5694C9.95766 26.7748 9.84229 27.0533 9.84229 27.3438C9.84229 27.6342 9.95766 27.9127 10.163 28.1181L16.7255 34.6806Z" fill="#35A6B4" />
                    </g>
                    <defs>
                        <clipPath id="clip0_51_910">
                            <rect width="35" height="35" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </li>
        </ul>
    </div>
</section>