
@{
}

    <nav class="navbar">
        <form class="container-fluid justify-content-start">
            <a class="btn btn-outline-success me-2" asp-action="Add" asp-controller="Home">Add User</a>
        </form>
    </nav>