
@{
}

<nav class="navbar">
    <form class="container-fluid justify-content-start">
        <a class="btn btn-outline-success me-2" asp-action="Index" asp-controller="Home">Back to the main page</a>
    </form>
</nav>
